<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for your Valuable Feedback</title>
    <link rel="shortcut icon" href="..\..\images\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="thankyoustyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Courgette&family=Poppins:wght@400;600;700&family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <div id="navLogoSection">
            <img id="logo" src="..\..\images\JUSSTChannelProfile.jpg" alt="JUSST logo">
            <h1 id="logoTitle">JUSST TAMIL</h1>
        </div>
        <div id="navLinksSection">
            <ul id="linkList">
                <li id="links"><a href="../../index.html" class="navlink1 linkText">Home</a></li>
                <li id="links"><a href="../../index.html#about" class="navlink2 linkText">About</a></li>
                <li id="links"><a href="../../index.html#video" class="navlink3 linkText">Videos</a></li>
                <li id="links"><a href="../../index.html#article" class="navlink4 linkText">Articles</a></li>
                <li id="links"><a href="../../index.html#contact" class="navlink5 linkText">Contact</a></li>
            </ul>
        </div>
        <div id="menu-div">
<!-- The below code is by Satvik Popli -->
            <input type="checkbox" name="" id="" class="check">
            <ul class="menu-items">
              <li><a href="../../index.html">Home</a></li>
              <li><a href="../../index.html#about">About</a></li>
              <li><a href="../../index.html#video">Videos</a></li>
              <li><a href="../../index.html#article">Articles</a></li>
              <li><a href="../../index.html#contact">Contact</a></li>
            </ul>
            <div class="ham-menu">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
<!-- Copyright (c) 2023 by Satvik Popli (https://codepen.io/satvikpopli/pen/ExEZqaz) -->
        </div>
    </nav>
    <section class="thankyou">
        <h1 class="thank">Thank You</h1>
        <p>For Sharing your Valuable Feedback</p>
        <p>Stay Connected to us through </p>
        <ul class="contact-apps">
            <li class="contact-app-cont">
                <a href="https://www.youtube.com/@jusst1523" target="_blank" rel="noopener noreferrer">
                    <img height="50px" width="50px" src="../../images/youtube.svg" alt="you can reach us on youtube on https://www.youtube.com/@jusst1523">
                    <p>Youtube</p>
                </a>
            </li>
            <li class="contact-app-cont">
                <a href="https://instagram.com/jusst1523?igshid=ZDdkNTZiNTM=" target="_blank" rel="noopener noreferrer">
                    <img height="50px" width="50px" src="../../images/instagram-color-icon.svg" alt="you can reach us on instagram">
                        <p>Instagram</p>
                    </img>
                </a>
            </li>
            <li class="contact-app-cont">
                <a href="https://formsubmit.co/el/yuviya" target="_blank">
                    <img height="50px" width="50px" src="../../images/icons8-gmail.svg" alt="you can email us to jusst2023@gmail.com">
                    <p>Email us</p>
                </a>
            </li>
        </ul>
        <a class="gohomebtn" href="../../index.html">Go Home</a>
    </section>
</body>
</html>
